# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
*.pyo
*.pyd

# Packaging
build/
dist/
pip-wheel-metadata/

# Virtual environments
venv/
.venv/
.env/
.env

# Testing & coverage
.pytest_cache/
.coverage
.coverage.*

# Type checking & linters
.mypy_cache/
.pytype/
.ruff_cache/

# Editors & OS
.vscode/
.idea/
.DS_Store

# Logs
*.log

# Polymarket data artifacts
src/clob/*.json
